global:
  scrape_interval: 15s
  evaluation_interval: 15s

rule_files:
  - "rules.yml"

scrape_configs:
  - job_name: "prometheus"
    static_configs:
      - targets:
        - "prometheus:9090"
  - job_name: "backend"
    metrics_path: /metrics
    scrape_interval: 5s
    static_configs:
      - targets:
        - "backend:4000"
  - job_name: "nginx"
    metrics_path: "/metrics"
    static_configs:
      - targets:
        - "nginx-exporter:9113"