services:
  frontend:
    container_name: frontend
    image: front
    build:
      context: ..
      dockerfile: ./srcs/services/front/Dockerfile
    ports:
      - "3000:3000"
    networks:
      - monitoring
    restart: on-failure
    depends_on:
      - backend
  backend:
    container_name: backend
    image: back
    build:
      context: ..
      dockerfile: ./srcs/services/back/Dockerfile
    ports:
      - "4000:4000"
    env_file:
      - ".env.example"
    networks:
      - monitoring
    restart: on-failure
  prometheus:
    image: prometheus-img
    container_name: prometheus
    build: ./services/prom
    ports:
    - "9090:9090"
    networks:
    - monitoring
    restart: unless-stopped
    depends_on:
      - nginx-exporter
      - backend
  nginx:
    image: nginx-img
    container_name: nginx
    build: ./services/nginx
    ports:
      - "8080:443"
    networks:
      - monitoring
    restart: always
    depends_on:
      - frontend
  grafana:
    image: grafana-img
    build: ./services/grafana
    container_name: grafana
    ports:
      - "3001:3000"
    networks:
      - monitoring
    depends_on:
      - prometheus
  nginx-exporter:
    image: nginx-exporter-img
    container_name: nginx-exporter
    ports:
      - "9113:9113"
    build: ./services/nginx-exporter
    networks:
      - monitoring
    depends_on:
      - nginx
  # cadvisor:
  #   image: gcr.io/cadvisor/cadvisor
  #   container_name: cadvisor
  #   ports:
  #     - "8081:8080"
  #   networks:
  #     - monitoring
  #   volumes:
  #     - "/:/rootfs:ro"
  #     - "/var/run:/var/run:ro"
  #     - "/sys:/sys:ro"
  #     - "/var/lib/docker/:/var/lib/docker:ro"
  #     - "/dev/disk/:/dev/disk:ro"
networks:
  monitoring:
    driver: bridge
