services:
  frontend:
    container_name: frontend
    image: front
    build:
      dockerfile: ./srcs/services/front/Dockerfile
    ports:
      - "3000:3000"
    networks:
      - monitoring
    restart: on-failure
    depends_on:
      - backend
  backend:
    container_name: backend
    image: back
    build:
      dockerfile: ./srcs/services/back/Dockerfile
    ports:
      - "4000:4000"
    env_file:
      - ".env"
    networks:
      - monitoring
    restart: on-failure
  prometheus:
    image: prometheus-img
    container_name: prometheus
    build: ./srcs/services/prom
    ports:
    - "9090:9090"
    networks:
    - monitoring
    restart: unless-stopped
    depends_on:
      - nginx-exporter
      - backend
  nginx:
    image: nginx-img
    container_name: nginx
    build: ./srcs/services/nginx
    ports:
      - "8080:443"
    networks:
      - monitoring
    restart: always
    depends_on:
      - frontend
  grafana:
    image: grafana-img
    build: ./srcs/services/grafana
    container_name: grafana
    ports:
      - "3001:3000"
    networks:
      - monitoring
    depends_on:
      - prometheus
  nginx-exporter:
    image: nginx-exporter-img
    container_name: nginx-exporter
    ports:
      - "9113:9113"
    build: ./srcs/services/nginx-exporter
    networks:
      - monitoring
    depends_on:
      - nginx
networks:
  monitoring:
    driver: bridge
