@import "tailwindcss";

:root {
  --foreground: #171717;
  --background: #BEC7DA
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
  --font-pixelify: var(--font-pixelify-sans)
}

body {
  color: var(--font-pixelify);
  font-family: "Pixelify Sans", sans-serif;
  padding: 0;
  padding-top: 1rem;
  padding-left: 1rem;
  background-color: var(--background);
}
